.user-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background: url('https://img.freepik.com/free-vector/hand-painted-watercolor-nature-background_52683-60529.jpg?w=996&t=st=1704899797~exp=1704900397~hmac=680db0381fddab8cf1c6736159e00f41f6dcc6221199472766b32b318106cf02') center center/cover no-repeat;
    background-size: cover;
  }
  
  .pro-container {
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  .pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
  }
  .dummy-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top:auto;
    margin-bottom: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .user-details p {
    margin: 8px 0;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(59, 5, 31);
    font-weight: 400;
  }
  
  .user-details h2 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(175, 217, 225);
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  
  .loading-message {
    margin-top: 10px;
  }
  .dummy-user-container{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: auto;

  }
  .dummy-name{
    color:black;
    font-size: 23px;
  }
  .logout-button{
    background-color: #ca1e44;
   color:white;
   padding: 10px;
   border:none;
   margin-top:auto;
   margin-bottom: auto;
   border-radius: 5px;
  }
  .logout-button:hover{
    cursor: pointer;
    background-color: #b40d31;
  }
  
  